<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SUPLEMENTS </title>
        <script type="text/javascript"></script>
    </head>
    <body>
        <form  method="get" action="/suplements/save"> 
            <label for="name">Name</label> <input type="text" name="name">
            <label for="category">Category</label> <input type="text" name="category">
            <label for="price">Price</label><input type="text" name="price">
            <label for="cod">Cod</label><input type="text" name="cod">
            
            <button > Cadastrar </button>
        </form>
    </body>
</html>
